@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;800&display=swap');

:root {
    --bg: #f8fafc;
    --card: rgba(255, 255, 255, 0.7);
    --text: #0f172a;
    --border: rgba(16, 185, 129, 0.1);
}

.theme-dark {
    --bg: #020617;
    --card: rgba(15, 23, 42, 0.6);
    --text: #f8fafc;
    --border: rgba(255, 255, 255, 0.05);
}

body {
    background-color: var(--bg);
    color: var(--text);
    transition: all 0.4s ease;
}

.glass-card {
    background: var(--card);
    backdrop-filter: blur(20px);
    border: 1px solid var(--border);
}

/* Custom SweetAlert */
.swal-custom {
    background: var(--card) !important;
    backdrop-filter: blur(20px) !important;
    border-radius: 2rem !important;
    border: 1px solid var(--border) !important;
    color: var(--text) !important;
}

.swal-confirm {
    background: #10b981 !important;
    color: white !important;
    padding: 12px 30px !important;
    border-radius: 1rem !important;
    font-weight: bold !important;
    margin: 0 10px !important;
    cursor: pointer;
}

.swal-cancel {
    background: rgba(239, 68, 68, 0.1) !important;
    color: #ef4444 !important;
    padding: 12px 30px !important;
    border-radius: 1rem !important;
    font-weight: bold !important;
    margin: 0 10px !important;
    cursor: pointer;
}








/* Sembunyikan marker default summary */
summary::-webkit-details-marker {
    display: none;
}

summary {
    list-style: none;
}

details[open] summary {
    border-bottom: 1px solid var(--border);
}

details {
    transition: all 0.3s ease-in-out;
}